<body>
  <header class="hero">
  <nav class="navbar">
    <ul>
      <li class="li-inline nav-item"><a href="/">Home</a></li>
      <li class="li-inline nav-item"><a href="/dashboard">Dashboard</a></li>
      <li class="li-inline nav-item"><a href="/login">Login</a></li>
      <li class="li-inline nav-item"><a href="#" id="logout-link">Logout</a></li>
    </ul>
  </nav>
    <h1 class="app-title"> Fantastic Fitness Tracker </h1>
  </header>

  <div class="content">
    <div class="container">
      <div class="top-right">  ____ <br><br> OWN EVERY WORKOUT <br> ____ <br><br> <p> The best mobile fitness tracking </p> <p> experience, backed by the world's largest </p> <p> digital health and fitness community. </p> </div>
      
      <div class="bottom-left"> 
        <font size="+1"> <strong> <u> TRACK EVERYTHING </u> </strong> </font>
        <br>
        Log any kind of workout using just 
        <br>
        your phone or with your favorite 
        <br> 
        device like Garmin or Apple Watch.
        <br>
        <br>
        <font size="+1"> <strong> <u> GET SOCIAL </u> </strong> </font>
        <br>
        Find support and motivation from 
        <br>
        other fitness crushers, plus create challenges 
        <br>
        for you and your friends.
        <br>
        <br>
        <font size="+1"> <strong> <u> TRAIN SMARTER </u> </strong> </font>
        <br>
        Analyze your data in the app or on the
        <br>
        web, then crush that workout or 
        <br>
        cardio using our adaptive training 
        <br>
        plans. 
      </div>
     
      <!-- background image -->
 <img src="https://c4.wallpaperflare.com/wallpaper/259/859/646/chain-actor-the-rock-dwayne-johnson-dwayne-johnson-the-rock-hd-wallpaper-preview.jpg" alt="Rock" style="width:100%">
       
  <div class="top-left">   
  <button onclick="cardiovascular()" class="dropbtnCardio"> CONDITION FITNESS </button>
  <div id="myCardio" class="btn-group"> 
    
    <form class="cardioForm">
    <p> Exercise: <input type="text" id="name" placeholder="Cardio"> </p>
    <hr>
    <p> Distance: <input type="text" id="distance" placeholder="Miles"> </p>
    <hr>
    <p> Duration: <input type="text" id="duration" placeholder="Time"> </p>
    <hr>
    <input type="submit" id="cardioSubmit" value="Submit" />
    </form>
      
    </div>
      </div>
    
    <div class="centered">
      
     <button onclick="weights()" class="dropbtnStrength"> STRENGTH FITNESS </button>
  <div id="myStrength" class="btn-group">
    
    <form class="strengthForm">
    <p> Exercise: <input type="text" id="exercise" placeholder="Muscle/Workout"> </p>
    <hr>
    <p> Weight: <input type="text" id="weight" placeholder="Pounds"> </p>
    <hr>
    <p> Sets: <input type="text" id="sets" placeholder="Number of Sets"> </p>
    <hr>
    <p> Reps: <input type="text" id="reps" placeholder="Repition"> </p>
    <hr>
    <p> Rest: <input type="text" id="rest" placeholder="Rest Time (min/sec)" </p>
    <hr>
      
    <input type="submit" id="strengthSubmit" value="Submit" />
    </form>
      
    
        </div>
       </div>
      </div>
     </div>
    </div>
      
    </body>

