<body>
  <div class="content">
<div class="row-lg-6">
     <div class="container">

  <button onclick="cardiovascular()" class="dropbtnCardio"> CONDITION FITNESS </button>
  <div id="myCardio" class="dropdown-content">
    
    <form class="cardioForm">
    <p> Exercise: <input type="text" id="name" placeholder="Cardio"> </p>
    <hr>
    <p> Distance: <input type="text" id="distance" placeholder="Miles"> </p>
    <hr>
    <p> Duration: <input type="text" id="duration" placeholder="Time"> </p>
    <hr>
    <input type="submit" id="cardioSubmit" value="Submit" />
    </form>
      
    </div>

    <div class="row-lg-6">
      <div class="container">
        
     <button onclick="weights()" class="dropbtnStrength"> STRENGTH FITNESS </button>
  <div id="myStrength" class="dropdown-content">
    
    <form class="strengthForm">
    <p> Exercise: <input type="text" id="exercise" placeholder="Muscle/Workout"> </p>
    <hr>
    <p> Weight: <input type="text" id="weight" placeholder="Pounds"> </p>
    <hr>
    <p> Sets: <input type="text" id="sets" placeholder="Number of Sets"> </p>
    <hr>
    <p> Reps: <input type="text" id="reps" placeholder="Repition"> </p>
    <hr>
    <p> Rest: <input type="text" id="rest" placeholder="Rest Time (min/sec)" </p>
    <hr>
      
    <input type="submit" id="strengthSubmit" value="Submit" />
    </form>
   
      </div>
    </div>
   </div>
  </div>
      </body>


